/* Some default styles for base and common elements */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  font-family: Roboto;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  color: #4a4a4a;
  background-color: #f7f5f5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
}

.about-link {
  margin-left: 150px;
}

* {
  box-sizing: border-box;
}

input[type=text] {
  width: 100%;
  padding: 12px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 1em;
  border-radius: 4px;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}

/* helper classes */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.warning {
  color: red;
  background: #ff000017;
  width: 100;
  border: 1px solid #ff00005c;
  border-radius: 5px;
  padding: 5px;
  display: block;
  -webkit-animation-name: animatemodal;
  -webkit-animation-duration: 0.9s;
  animation-name: animatemodal;
  animation-duration: 0.9s;
}

.logo {
  font-size: 1.4em;
  font-weight: bolder;
  text-shadow: 1px 2px 2px #da8585;
  text-decoration: underline;
}

.intro {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .intro {
    width: 300px;
  }
  .modal .container {
    width: 100%;
  }
}

/* Posts */
.posts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}

main section {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.loadmore {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  color: #646363;
  background-color: white;
}

.loadmore a {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.post {
  height: 55px;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin-bottom: 1px;
}

.post .score {
  text-align: center;
  line-height: 50px;
  background-color: #e4dede;
  color: white;
  width: 50px;
}

.post .title {
  font-size: 1.4em;
  padding-left: 10px;
  padding-top: 10px;
}

.post .title a {
  text-decoration: none;
  color: gray;
}

.post .links {
  font-size: 0.9em;
  padding-left: 10px;
}

.modal button {
  width: 100%;
  background-color: #59ce5d;
  color: white;
  font-size: 1.2em;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  padding-top: 220px;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .container {
  width: 400px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  -webkit-animation-name: animatemodal;
  -webkit-animation-duration: 0.9s;
  animation-name: animatemodal;
  animation-duration: 0.9s;
}

header nav .search {
  width: 250px;
  margin: 0;
  height: 30px;
}

.close {
  color: red;
  cursor: pointer;
  /* emulate pointer icon */
}

.modal .header .close {
  float: right;
}

@keyframes animatemodal {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

header,
footer {
  text-align: left;
  color: #f9f9f9;
}

footer {
  position: relative;
  height: 150px;
}

nav {
  padding: 10px;
  background: #ff6600;
  color: #fff;
  height: 50px;
  text-align: center;
  font-size: 1.1em;
}

nav a {
  color: white;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  color: white;
}

section {
  margin-top: 50px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}
