// Common colors
$color-background : #f7f5f5;
// Nav colors
$nav-color : #fff;
$nav-color-background : #ff6600;
$color-text : #4a4a4a;
// Links
$color-link : #fff;
$color-link-hover : #fff;
$color-link-visited : #fff;